*{
	box-sizing:border-box;
}
a, a:hover{
  text-decoration: none;
}
ul li{
  list-style: none;
}
html, body{
	font-family: 'Ubuntu', sans-serif;	
	transition: all .3s linear;
  background: #f8f9fa4f;
}
/* Footer */
#footer{
  background: hsla(0, 0%, 94%, 1);
}
/* Fim */

/* Laoyut em caixa do site */
.container {
	margin: 0 auto;
  display: table !important;
  position: relative;
  max-width: 80%;
}
/* Fim */

/* Botões padrões */
.btn-bt{
  background: #1079f6;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.btn-bt:hover, .btn-bt:focus, .btn-bt:visited{ 
  background: #0870ea !important;
  color: #fff !important;   
  box-shadow: 0px 2px 2px 0px #959696;
  border: none;
}
.btn-default{
	background: #1079f6;
	color: #fff;
	text-transform: uppercase;
	width: 300px;
	max-width: 80%;
}
.btn-default:hover, .btn-default:visited, .btn-default:focus{	
	background: #1079f6;
	color: #fff;		
	box-shadow: 0px 2px 2px 0px #959696;
}
/* Fim */


/* Topo Menu  */
.top-menu{
	max-height: 15px;
}
.top-menu ul{
    display: -webkit-box;
}
.top-menu ul li a{
	color: #fff !important;
}
.top-menu ul li:hover{	
	background: #ffffff3d;
}
.top-menu ul li:active{	
	background: #0955af80;
}
.top-menu ul li:hover:last-child{	
	background: transparent;
}
.top-menu .entrar:hover{
	background: #ffffff3d;
}
/* Fim */

/* Menu Principal */
.desktop-menu li a{
	color: #d8d8d8  !important;
	font-size: 1.5em; 
}
.desktop-menu .nav-item:hover{
	background: #eaeaea29;
}
.desktop-menu .nav-item:hover a{
    color: #fff !important;
}    
.desktop-menu li:hover:last-child{
	background: transparent;;
}
.desktop-menu .drop-servicos:before{
  content: '';
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(135deg);
  position: absolute;
  right: 50px;
  top: -5px;
  z-index: 3;
}
.desktop-menu .drop-servicos{
  width: 600px;
  display: none;
  right: 0;
}
.desktop-menu .servicos-list:hover .drop-servicos{
  display: block;
}
.desktop-menu .drop-servicos img{
  max-width: 50px;  
  margin-left: -9px;
}
.desktop-menu .drop-servicos a{
  padding: 0px 7px;
}
.desktop-menu .drop-servicos a:hover {
  background: #0955af12;
}
.desktop-menu .drop-servicos .btn-default {
  position: relative;
  display: table;
  background: #1079f6;
  text-align: center !important;
  font-size: 14px !important;
  padding: 6px 0;
  margin: auto;
  min-width: 100%;
}
.desktop-menu .navbar-brand img{
	max-width: 200px;
}
#search-area{
  right: 10px;
  top: 55px;
  min-width: 300px;
  padding: 1em;
}
#search-area-mobile {
  right: 0;
  top: 60px;
  width: 100%;
  min-width: 300px;
  padding: 20px;
  z-index: 4;
  background: #586064;
}
.desktop-menu input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  background-color: white;
  background-image: url('search-icon.png');
  background-position: 7px 13px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
/* Fim */

/* Menu Mobile */
.mobile-menu .navbar-collapse{
  right: 0;
}
.mobile-menu .navbar-brand img{
  max-width: 150px;
}
.mobile-menu  .navbar-toggle:hover{
  background: #586064 !important;
}
.hover-navbar{
  background: #586064 !important;
}
.mobile-menu button:hover{
  background: #586064 !important;
}
/* Fim */

/* Banner Carrossel destaue e Texto de destaque do Banner Principal e */
.text-destaque {
	color: #fff;
  top: 35%;
}
.carousel-inner h2, .carousel-inner h1 {
  bottom: 50px;
  font-weight: 900;
}
.carousel-inner .col-md-10{
	margin-top: -15px;
}
.carousel-inner h1{
  border: 6px solid #fff;
  letter-spacing: -13px;
  padding: 0 23px 0px 8px;
  font-size: 7em;
}
.carousel-inner h2{
  max-width: 100px;
  font-size: 5em;
  line-height: 40px;
}
/* Fim */

/* Serviços Online */
.servicos-online img{
	max-width: 70px;
	margin-left: -10px;
}
.servicos-online h1{
  font-size: 40px;
  padding-right: 2em;
}
.servicos-online a:hover{
  text-decoration: none !important;
}
/* Fim */

/* Fique por dentro */
.fique-por-dentro img{
  width: 100%;
  object-fit: cover;
}
.fique-por-dentro a{
  transition: all .4s linear;
}
.fique-por-dentro .blog:hover{
  position: relative;
  box-shadow: 0 1px 5px 1px #0c52a52e;
  margin-top: -7px;
}
.fique-por-dentro span{
  top: -15px;
}
.panel-group .fa{
  font-size: 13px;
  text-align: center;
  padding: 4px;
  transition: all .5s linear;
}
.panel-group a:focus + .panel-heading{
  background-color: red !important;
}
.panel-group a:focus .fa{
  transition: all .5s linear;
  color: #fff;
  background: #1079f6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: rotate(135deg);
}
.fique-por-dentro .blog .fa{
  margin-top: -10px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.fique-por-dentro .blog .fa:hover{
  box-shadow: 0 1px 1px 1px #265184;
}
.fique-por-dentro .blog img{
  width: 100%;
  object-fit: cover;
  height: 150px;
}
#footer .fa-youtube-play:hover{
  color: red;
}
#footer .fa-facebook:hover{
  color: #3b5998;
}
#footer .app-dowload img{
  max-width: 100px;
}
#footer .logo img{
  max-width: 150px;
}
.imagem-mobile img {
  max-width: 100%;
}
/* quebra mobile */
@media ( max-width: 992px){
 h1, h2, p{
  text-align: center;
 } 
.container{
 max-width: 100%;
 padding: 0;
}
.carousel-inner .carousel-item img{
	height: 350px;
	object-fit: cover;
}	
.carousel-inner h1 {
  border: 6px solid #ffffffba;
  letter-spacing: -4px;
  padding: 0 10px 0px 6px;
  font-size: 4em;
}
.carousel-inner h2 {
  max-width: 97px;
  font-size: 4em;
  line-height: 30px;
}
.carousel-inner .col-md-10 {
  margin-top: -11px;
  margin-left: 1px;
}
.servicos-online{
  margin-top: 1em !important;
  text-align: center;
}
.servicos-online h1{
  padding-right: 0;
  padding: 10px 0;
}
.form-home{
  padding: 0 40px !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}
.form-home h2{  
  text-align: center;
  font-size: 33px;
}
.form-home span{
  text-align: center;
  font-size: 15px;
}
.form-home .col-md-2{
  padding: 20px 0;
  border-right: 0 !important;
  border-top: 1px solid #f4f4f4;
}
.form-home .col-md-2:first-child{
  border-top: 0 !important;
}
.form-home .btn-bt{
 padding: 1em 3em !important;
}
#colapse {
 background: #1079f6;
 color: #fff;
 padding: 0px 3em;
}
#colapse h2, #colapse p, #colapse a{
 color: #fff;
}
#colapse h4  {
color: #fbfcfd;
}
#colapse .fa{
 color: #fff; 
}
#colapse .panel-group a:focus .fa{
 background: #fff; 
 color: #1079f6;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ddd;
  color: #585757;
}
#footer ul {
  width: 100%;
  display: table;
  position: relative;
  margin: 0 auto;
  text-align: center !important;
  padding: 0;
}
#footer ul li{
  display: inline-block;
}
#footer p{
  text-align: center !important;
}
#footer a img {
  float: none !important;
}
.services-carousel{
  display: table;
  margin: 0 auto;
  position: relative;
}
.services-carousel .col-sm-6, .services-carousel .col-xs-6{
  max-width: 50%;
  text-align: center;
}
#Cmobile {
    height: 340px;
}
.btn-default{
  background: #fff !important;
  color: #1079f6 !important;
}
}
@media ( max-width: 640px){
.carousel-inner .textDT {
  max-width: 90%;
  position: absolute;
  right: -65px;
  top: -40px;
  padding: 0;
  margin: 0;
}
}